/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  font-size: 16px;
  
}
.common {
  width: 75%;
  margin: 0 auto;
}
.button__1 {
  font-size: 14px;
  padding: 0 30px;
  line-height: 52px;
  font-weight: 700;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dc4f72;
  color: #dc4f72;
  margin-top: 18px;
  transition: all 0.5s;
}
.button__1:focus {
  box-shadow: none;
}
.title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.title p:first-of-type {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}
.title p:last-of-type {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  margin: 16px auto;
}
/* BANNER */
.banner {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.9)),
    url(../image/home_banner_bg.jpg);
  background-attachment: fixed;
  background-position: center;
  
}
.banner__content {
  padding-top: 70px;
}
.banner__left {
  margin-top: 70px;
}
.banner__left h1 {
  font-size: 50px;
  line-height: 57.5px;
  font-weight: 700;
  color: #2c3038;
}
.banner__left p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
  color: #5a5a5a;
  margin-bottom: 30px;
}
.banner__left .button__1:hover {
  background-color: #dc4f72;
  color: white;
}
/* INTRO */
.intro__content {
  padding: 48px 0;
}
.intro__bot__item {
  border: 1px solid #f7f9fc;
  border-radius: 6px;
  padding: 3rem 2rem;
  background-color: #f7f9fc;
  transition: all 0.3s ease-in;
}
.intro__bot__item:hover {
  transform: translateY(-20px);
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.intro__bot__item h3 {
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
  color: #2c3038;
}
.intro__bot__item p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 25px;
}
/* ABOUT */
.about {
  background-color: #f7f9fc;
}
.about__top {
  padding: 48px 0;
}
.about__top__left h3 {
  font-size: 35px;
}
.about__top__left .button__1 {
  background-color: #dc4f72;
  color: white;
  transition: all 0.5s;
}
.about__top__left .button__1:hover {
  background-color: #d62f58;
  color: white;
}
.about__top__right img {
    height: 100%;
    width: 100%;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transition: all 0.3s ease-in;
}
.about__top__right img:hover {
  transform: translateY(-10px);
}
.about__top {
  padding: 24px 0 48px;
}
.about__bot__item {
  background-color: white;
  padding: 30px;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  transition: all 0.3s ease-in;
}
.about__bot__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.about__bot__item h4 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #2c3038;
}
.about__bot__item .counter {
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
.about__bot__item p:last-of-type {
  color: #5a5a5a;
  line-height: 1.5;
}

/* RESPONSIVE */

@media screen and (max-width: 991px) {
  /* COMMON */
  .common {
    width: 100%;
    margin: 0 auto;
  }
  /* padding 2 bên */
  .banner__content, .intro__content, .about__content {
    padding-left: 30px ;
    padding-right: 30px;
  }
  /* ABOUT */
  .about__top__right img{
    margin: 90px 0;
  }
}
@media screen and (max-width: 767px) {
  /* class button__1 common */
  .button__1 {
    padding: 0 20px;
    line-height: 44px;
  }
  /* INTRO */
  .intro__bot {
    padding: 0 10px;
  }
  /* ABOUT */
  .about__top__right img{
    margin: 100px 0;
  }
}
